.hiq-well {
  .is-full-width {
    width: 100%;
    margin-top: 1rem;
  }
    
  &.hiq-login-well {
    @media ($desktop) {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }

    .hiq-account-links {
      @include horizontal-list-li;
      text-align: center;
    }

    .is-login-form-error {
      color: var(--hiq-color-danger);
      margin-bottom: 1rem;
    }
  }
}
