$desktop: 'min-width: 800px';
$mobile-only: 'max-width: 35rem';

:root {
  --hiq-color-primary: #1e237e; // hsl(210, 100%, 50%);
  --hiq-container-horizontal-gap: 1.5rem;
  --hiq-max-container-width: 60rem;
  --hiq-gray-darker: hsl(220, 10%, 10%);
  --hiq-gray-dark: hsl(220, 10%, 20%);
  --hiq-gray: hsl(220, 10%, 40%);
  --hiq-gray-light: hsl(220, 10%, 60%);
  --hiq-gray-lighter: hsl(220, 10%, 90%);
  --hiq-gray-lightest: hsl(220, 10%, 95%);

    /* semantic palette */
  --hiq-color-success: hsl(158, 73%, 48%);
  --hiq-color-warning: hsl(46, 97%, 64%);
  --hiq-color-danger: hsl(352, 95%, 61%);
}


